<form method="post" action="/cadastramaquina">
    <div class="row">
        <div class="col-lg">
          <div class="form-floating">
            <label for="descricaoInput">Nome do equipamento:</label><br>
            <input type="text" name='nome'>
          </div>
        </div>
        <button type="submit">Cadastrar</button>
      </div>
</form>