<form action="/pontoRegistra" method="post">
    <label for="fname">campo 8:</label><br>
    <input type="date" id="fname" name="campo8"><br>
    <label for="fname">campo 9:</label><br>
    <input type="date" id="fname" name="campo9"><br>
    <button type="submit">Enviar</button>
</form>