<%- include('partials/header') %>

<style>
</style>

<div class="row" style="max-width: 100%; margin-left: 1.5%; margin-right: 0; margin-bottom: 2%;">
  <%  produto.forEach(function(chamados){ %>
  <div class="col-md-4 mt-3">
    <div class="card h-100" style="width: 26rem;">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Cras justo odio</li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Vestibulum at eros</li>
      </ul>
      <div class="card-body">
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <%})%>
</div>