<%- include('../partials/header') %>

<style>
  #rowMestra {
      margin-left: 1px;
  }

  #titulo {
    text-align: center;
  }


</style>
  <div class="row" id='rowMestra'>
    <div class="row" id='descritivoCadastro'>
      <div class="col-lg-2 mt-2">
        <img src="/images/fibracem.png" alt="">
      </div>
      <div class="col-lg-8 mt-3" id='titulo'>
        <h3 class='descritivoCadastro'>Ordem de Serviço Preventiva (Nº)</h3>
      </div>
      <div class="col-md-2 mt-3">
        <button type="button" class="btn btn-primary" onclick="window.print();return false;">Imprimir</button>
      </div>
    </div>
    <div class="row mt-5" id='rowTerceira'>
        <div class="col-sm-1">
            <b>Prevista:</b>
        </div>
        <div class="col-sm-2">
            <b>Especialidade:</b>
            <p>ELET. / MEC.</p>
        </div>
        <div class="col-sm-1">
            <b>S.M:</b>
            <p>12</p>
        </div>
        <div class="col-md-3">
            <b>Descrição:</b>
            <p>PREVENTIVA SEMESTRAL</p>
        </div>
        <div class="col-sm">
            <b>Equipamento:</b>
            <p>SJ 50MM</p>
        </div>
        <div class="col-sm">
            <b>Estação:</b>
            <p></p>
        </div>
        <div class="col-sm">
            <b>Localização:</b>
            <p>FIB</p>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-sm">
            <b>Duração Prevista:</b>
            <p>26:30:00</p>
        </div>
        <div class="col-md-4" style="margin-top: 35px;">
            <p style="width: 200px; display: table; margin-bottom: 0;">
                <span style="display: table-cell; border-bottom: 1px solid black;"></span>
            </p>
            <span style="display: table-cell;">Assinatura Resp. de Produção</span>
        </div>
        <div class="col-md-4" style="margin-top: 35px;">
          <p style="width: 200px; display: table; margin-bottom: 0;">
              <span style="display: table-cell; border-bottom: 1px solid black;"></span>
          </p>
          <span style="display: table-cell;">Assinatura Resp. de Manutenção</span>
      </div>
    </div>
    <div class="row mt-5">
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Atividade</th>
                <th scope="col">Matrículas</th>
                <th scope="col">Data Início</th>
                <th scope="col">Data Término</th>
                <th scope="col">Total de Horas</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                    <input type="checkbox" name="" id="">Elétrico</input><br>
                    <input type="checkbox" name="" id="">Mecânico</input>
                </td>
                <td>
                    <p style="width: 200px; display: table; margin-bottom: 0px; margin-top: 50px;">
                        <span style="display: table-cell; border-bottom: 1px solid black;"></span>
                    </p>
                </td>
                <td><p style="margin-top: 30px; margin-bottom: 0;">____/____/____</p></td>
                <td><p style="margin-top: 30px; margin-bottom: 0;">____/____/____</p></td>
                <td>
                  <p style="width: 200px; display: table; margin-bottom: 0px; margin-top: 50px;">
                      <span style="display: table-cell; border-bottom: 1px solid black;"></span>
                  </p>
              </td>
              </tr>
              <tr>
                <td>
                    <input type="checkbox" name="" id="">Elétrico</input><br>
                    <input type="checkbox" name="" id="">Mecânico</input>
                </td>
                <td>
                    <p style="width: 200px; display: table; margin-bottom: 0px; margin-top: 50px;">
                        <span style="display: table-cell; border-bottom: 1px solid black;"></span>
                    </p>
                </td>
                <td><p style="margin-top: 30px; margin-bottom: 0;">____/____/____</p></td>
                <td><p style="margin-top: 30px; margin-bottom: 0;">____/____/____</p></td>
                <td>
                  <p style="width: 200px; display: table; margin-bottom: 0px; margin-top: 50px;">
                      <span style="display: table-cell; border-bottom: 1px solid black;"></span>
                  </p>
              </td>
              </tr>
              <tr>
                <td>
                    <input type="checkbox" name="" id="">Elétrico</input><br>
                    <input type="checkbox" name="" id="">Mecânico</input>
                </td>
                <td>
                    <p style="width: 200px; display: table; margin-bottom: 0px; margin-top: 50px;">
                        <span style="display: table-cell; border-bottom: 1px solid black;"></span>
                    </p>
                </td>
                <td><p style="margin-top: 30px; margin-bottom: 0;">____/____/____</p></td>
                <td><p style="margin-top: 30px; margin-bottom: 0;">____/____/____</p></td>
                <td>
                  <p style="width: 200px; display: table; margin-bottom: 0px; margin-top: 50px;">
                      <span style="display: table-cell; border-bottom: 1px solid black;"></span>
                  </p>
              </td>
              </tr>
            </tbody>
          </table>
    </div>
    <hr class="mt-2">
    <div class="row">
      <div class="col-sm-1">
        <b>Atividades:</b>
      </div>
      <div class="col-sm-2">
        <b>Procedimento Padrão:</b>
      </div>
      <div class="col-lg-6">
        <b>PROCED. DE TAREFAS DE SEGURANÇA</b>
      </div>
      <div class="col-lg">
        <b>Conformidade:</b>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-sm-1"><b style="font-size: 35px; margin-left: 25%;">1</b></div>
      <div class="col-sm-2"><b style="font-size: 20px;">SEGURANÇA</b></div>
      <div class="col-lg-6">
        <p><span>1 - </span>DESLIGAR O EQUIPAMENTO</p>
      </div>
      <div class="col-lg">
        <p style="width: 200px; display: table; margin-bottom: 0px; margin-top: 20px;">
          <span style="display: table-cell; border-bottom: 1px solid black;"></span>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-2"></div>
      <div class="col-lg-6">
        <p><span>2 - </span>IDENTIFICAR O EQUIPAMENTO COM PLACA DE "EQUIPAMENTO EM MANUTENÇÃO".</p>
      </div>
      <div class="col-lg">
        <p style="width: 200px; display: table; margin-bottom: 0px; margin-top: 20px;">
          <span style="display: table-cell; border-bottom: 1px solid black;"></span>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-2"></div>
      <div class="col-lg-6">
        <p><span>3 - </span>VERIFICAR SE AS PROTEÇÕES DO EQUIPAMENTO ESTÃO BEM FIXADAS.</p>
      </div>
      <div class="col-lg">
        <p style="width: 200px; display: table; margin-bottom: 0px; margin-top: 20px;">
          <span style="display: table-cell; border-bottom: 1px solid black;"></span>
        </p>
      </div>
    </div>
    <hr class="mt-2">
    <div class="row">
      <div class="col-sm-1">
        <b>Atividades:</b>
      </div>
      <div class="col-sm-2">
        <b>Procedimento Padrão:</b>
      </div>
      <div class="col-lg-6">
        <b>ALIMENTADOR AUTOMÁTICO 12 FIOS</b>
      </div>
      <div class="col-lg">
        <b>Conformidade:</b>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-sm-1"><b style="font-size: 35px; margin-left: 25%;">2</b></div>
      <div class="col-sm-2"><b style="font-size: 20px;">ELET. / MEC.</b></div>
      <div class="col-lg-6">
        <p><span>1 - </span>Verificar rolamentos dos eixos, roletes e braços</p>
      </div>
      <div class="col-lg">
        <p style="width: 200px; display: table; margin-bottom: 0px; margin-top: 20px;">
          <span style="display: table-cell; border-bottom: 1px solid black;"></span>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-2"><b>Tempo Previsto: 03:00</b></div>
      <div class="col-lg-6">
        <p><span>2 - </span>Verificação de polias, desgastes/ troca e limpeza de polias</p>
      </div>
      <div class="col-lg">
        <p style="width: 200px; display: table; margin-bottom: 0px; margin-top: 20px;">
          <span style="display: table-cell; border-bottom: 1px solid black;"></span>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-2"></div>
      <div class="col-lg-6">
        <p><span>3 - </span>Verificar motor redutor</p>
      </div>
      <div class="col-lg">
        <p style="width: 200px; display: table; margin-bottom: 0px; margin-top: 20px;">
          <span style="display: table-cell; border-bottom: 1px solid black;"></span>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-2"></div>
      <div class="col-lg-6">
        <p><span>4 - </span>Limpeza do painel elétrico</p>
      </div>
      <div class="col-lg">
        <p style="width: 200px; display: table; margin-bottom: 0px; margin-top: 20px;">
          <span style="display: table-cell; border-bottom: 1px solid black;"></span>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-2"></div>
      <div class="col-lg-6">
        <p><span>5 - </span>Avaliar servo driver e servo motores</p>
      </div>
      <div class="col-lg">
        <p style="width: 200px; display: table; margin-bottom: 0px; margin-top: 20px;">
          <span style="display: table-cell; border-bottom: 1px solid black;"></span>
        </p>
      </div>
    </div>
    <hr class="mt-2">
    <div class="row">
      <div class="col-sm-1">
        <b>Atividades:</b>
      </div>
      <div class="col-sm-2">
        <b>Procedimento Padrão:</b>
      </div>
      <div class="col-lg-6">
        <b>GELÉIA / VÁCUO</b>
      </div>
      <div class="col-lg">
        <b>Conformidade:</b>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-sm-1"><b style="font-size: 35px; margin-left: 25%;">3</b></div>
      <div class="col-sm-2"><b style="font-size: 20px;">PRODUTIVO</b></div>
      <div class="col-lg-6">
        <p><span>1 - </span>Avaliar sistema de sucção e vácuo</p>
      </div>
      <div class="col-lg">
        <p style="width: 200px; display: table; margin-bottom: 0px; margin-top: 20px;">
          <span style="display: table-cell; border-bottom: 1px solid black;"></span>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-2"><b>Tempo Previsto: 04:00</b></div>
      <div class="col-lg-6">
        <p><span>2 - </span>Avaliar / testar comando e controle remoto</p>
      </div>
      <div class="col-lg">
        <p style="width: 200px; display: table; margin-bottom: 0px; margin-top: 20px;">
          <span style="display: table-cell; border-bottom: 1px solid black;"></span>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-2"></div>
      <div class="col-lg-6">
        <p><b>CANHÃO / ROSCA</b></p>
      </div>
      <div class="col-lg">
        <p style="width: 200px; display: table; margin-bottom: 0px; margin-top: 20px;">
          <span style="display: table-cell; border-bottom: 1px solid black;"></span>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-2"></div>
      <div class="col-lg-6">
        <p><span>1 - </span>Resistencias, funcionamento, setup de controle</p>
      </div>
      <div class="col-lg">
        <p style="width: 200px; display: table; margin-bottom: 0px; margin-top: 20px;">
          <span style="display: table-cell; border-bottom: 1px solid black;"></span>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-2"></div>
      <div class="col-lg-6">
        <p><span>2 - </span>Avaliar/ limpar secador de material</p>
      </div>
      <div class="col-lg">
        <p style="width: 200px; display: table; margin-bottom: 0px; margin-top: 20px;">
          <span style="display: table-cell; border-bottom: 1px solid black;"></span>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-2"></div>
      <div class="col-lg-6">
        <p><b>CALHAS DE REFRIGERAÇÃO</b></p>
      </div>
      <div class="col-lg">
        <p style="width: 200px; display: table; margin-bottom: 0px; margin-top: 20px;">
          <span style="display: table-cell; border-bottom: 1px solid black;"></span>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-2"></div>
      <div class="col-lg-6">
        <p><span>1 - </span>Limpeza da calha / reservatório saída do cabeçote</p>
      </div>
      <div class="col-lg">
        <p style="width: 200px; display: table; margin-bottom: 0px; margin-top: 20px;">
          <span style="display: table-cell; border-bottom: 1px solid black;"></span>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-2"></div>
      <div class="col-lg-6">
        <p><span>2 - </span>Limpeza da calha / reservatório intermediária</p>
      </div>
      <div class="col-lg">
        <p style="width: 200px; display: table; margin-bottom: 0px; margin-top: 20px;">
          <span style="display: table-cell; border-bottom: 1px solid black;"></span>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-2"></div>
      <div class="col-lg-6">
        <p><span>3 - </span>Limpar/ trocar filtros da agua de refrigeração</p>
      </div>
      <div class="col-lg">
        <p style="width: 200px; display: table; margin-bottom: 0px; margin-top: 20px;">
          <span style="display: table-cell; border-bottom: 1px solid black;"></span>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-2"></div>
      <div class="col-lg-6">
        <p><span>4 - </span>Limpeza da calha / reservatório processo final</p>
      </div>
      <div class="col-lg">
        <p style="width: 200px; display: table; margin-bottom: 0px; margin-top: 20px;">
          <span style="display: table-cell; border-bottom: 1px solid black;"></span>
        </p>
      </div>
    </div>
    <hr class="mt-2">
    <div class="row">
      <div class="col-sm-1">
        <b>Atividades:</b>
      </div>
      <div class="col-sm-2">
        <b>Procedimento Padrão:</b>
      </div>
      <div class="col-lg-6">
        <b>GELÉIA / VÁCUO</b>
      </div>
      <div class="col-lg">
        <b>Conformidade:</b>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-sm-1"><b style="font-size: 35px; margin-left: 25%;">4</b></div>
      <div class="col-sm-2"><b style="font-size: 20px;">ELET. / MEC.</b></div>
      <div class="col-lg-6">
        <p><span>1 - </span>Limpeza de conjunto de resistências</p>
      </div>
      <div class="col-lg">
        <p style="width: 200px; display: table; margin-bottom: 0px; margin-top: 20px;">
          <span style="display: table-cell; border-bottom: 1px solid black;"></span>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-2"><b>Tempo Previsto: 03:00</b></div>
      <div class="col-lg-6">
        <p><span>2 - </span>Medição de corrente de tensão das resistências</p>
      </div>
      <div class="col-lg">
        <p style="width: 200px; display: table; margin-bottom: 0px; margin-top: 20px;">
          <span style="display: table-cell; border-bottom: 1px solid black;"></span>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-2"></div>
      <div class="col-lg-6">
        <p><span>3 - </span>Medição das correntes das resistências</p>
      </div>
      <div class="col-lg">
        <p style="width: 200px; display: table; margin-bottom: 0px; margin-top: 20px;">
          <span style="display: table-cell; border-bottom: 1px solid black;"></span>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-2"></div>
      <div class="col-lg-6">
        <p><span>4 - </span>Reaperto dos terminais do painel e bornes</p>
      </div>
      <div class="col-lg">
        <p style="width: 200px; display: table; margin-bottom: 0px; margin-top: 20px;">
          <span style="display: table-cell; border-bottom: 1px solid black;"></span>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-2"></div>
      <div class="col-lg-6">
        <p><span>5 - </span>Verificar correias, tensão e desgastes</p>
      </div>
      <div class="col-lg">
        <p style="width: 200px; display: table; margin-bottom: 0px; margin-top: 20px;">
          <span style="display: table-cell; border-bottom: 1px solid black;"></span>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-2"></div>
      <div class="col-lg-6">
        <p><span>6 - </span>Verificar cabos elétricos, aquecimentos / desgastes</p>
      </div>
      <div class="col-lg">
        <p style="width: 200px; display: table; margin-bottom: 0px; margin-top: 20px;">
          <span style="display: table-cell; border-bottom: 1px solid black;"></span>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-2"></div>
      <div class="col-lg-6">
        <p><span>7 - </span>Limpeza painéis elétricos, ar comprimido e aspirador</p>
      </div>
      <div class="col-lg">
        <p style="width: 200px; display: table; margin-bottom: 0px; margin-top: 20px;">
          <span style="display: table-cell; border-bottom: 1px solid black;"></span>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-2"></div>
      <div class="col-lg-6">
        <p><span>8 - </span>Limpeza dos filtros de sucção dos motores</p>
      </div>
      <div class="col-lg">
        <p style="width: 200px; display: table; margin-bottom: 0px; margin-top: 20px;">
          <span style="display: table-cell; border-bottom: 1px solid black;"></span>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-2"></div>
      <div class="col-lg-6">
        <p><span>9 - </span>Verificar/ trocar termopares das 4 zonas</p>
      </div>
      <div class="col-lg">
        <p style="width: 200px; display: table; margin-bottom: 0px; margin-top: 20px;">
          <span style="display: table-cell; border-bottom: 1px solid black;"></span>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-2"></div>
      <div class="col-lg-6">
        <p><span>10 - </span>Verificar/ trocar mangueiras de refrigeração dos mancais</p>
      </div>
      <div class="col-lg">
        <p style="width: 200px; display: table; margin-bottom: 0px; margin-top: 20px;">
          <span style="display: table-cell; border-bottom: 1px solid black;"></span>
        </p>
      </div>
    </div>
    <hr class="mt-2">
    <div class="avoid">
      <div class="row">
        <div class="col-sm-1">
          <b>Atividades:</b>
        </div>
        <div class="col-sm-2">
          <b>Procedimento Padrão:</b>
        </div>
        <div class="col-lg-6">
          <b>DESMAGNETIZADOR</b>
        </div>
        <div class="col-lg">
          <b>Conformidade:</b>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-sm-1"><b style="font-size: 35px; margin-left: 25%;">5</b></div>
        <div class="col-sm-2"><b style="font-size: 20px;">ELET. / MEC.</b></div>
        <div class="col-lg-6">
          <p><span>1 - </span>Avaliar desgastes dos rolos</p>
        </div>
        <div class="col-lg">
          <p style="width: 200px; display: table; margin-bottom: 0px; margin-top: 20px;">
            <span style="display: table-cell; border-bottom: 1px solid black;"></span>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-2"><b>Tempo Previsto: 00:30</b></div>
        <div class="col-lg-6">
          <p><span>2 - </span>Avaliar rolamentos dos rolos</p>
        </div>
        <div class="col-lg">
          <p style="width: 200px; display: table; margin-bottom: 0px; margin-top: 20px;">
            <span style="display: table-cell; border-bottom: 1px solid black;"></span>
          </p>
        </div>
      </div>
    </div>
    <hr class="mt-2">
    <div class="row">
      <div class="col-sm-1">
        <b>Atividades:</b>
      </div>
      <div class="col-sm-2">
        <b>Procedimento Padrão:</b>
      </div>
      <div class="col-lg-6">
        <b>CANHÃO/ ROSCA</b>
      </div>
      <div class="col-lg">
        <b>Conformidade:</b>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-sm-1"><b style="font-size: 35px; margin-left: 25%;">6</b></div>
      <div class="col-sm-2"><b style="font-size: 20px;">ELET. / MEC.</b></div>
      <div class="col-lg-6">
        <p><span>1 - </span>Resistências, funcionamento, setup de controle</p>
      </div>
      <div class="col-lg">
        <p style="width: 200px; display: table; margin-bottom: 0px; margin-top: 20px;">
          <span style="display: table-cell; border-bottom: 1px solid black;"></span>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-2"><b>Tempo Previsto: 04:00</b></div>
      <div class="col-lg-6">
        <p><span>2 - </span>Ventoinhas e resfriamento do canhão, troca dos filtros de ar</p>
      </div>
      <div class="col-lg">
        <p style="width: 200px; display: table; margin-bottom: 0px; margin-top: 20px;">
          <span style="display: table-cell; border-bottom: 1px solid black;"></span>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-2"></div>
      <div class="col-lg-6">
        <p><span>3 - </span>Verificar motores CC, escovas</p>
      </div>
      <div class="col-lg">
        <p style="width: 200px; display: table; margin-bottom: 0px; margin-top: 20px;">
          <span style="display: table-cell; border-bottom: 1px solid black;"></span>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-2"></div>
      <div class="col-lg-6">
        <p><span>4 - </span>Verificar nivelamento</p>
      </div>
      <div class="col-lg">
        <p style="width: 200px; display: table; margin-bottom: 0px; margin-top: 20px;">
          <span style="display: table-cell; border-bottom: 1px solid black;"></span>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-2"></div>
      <div class="col-lg-6">
        <p><span>5 - </span>Verificar paralelismo</p>
      </div>
      <div class="col-lg">
        <p style="width: 200px; display: table; margin-bottom: 0px; margin-top: 20px;">
          <span style="display: table-cell; border-bottom: 1px solid black;"></span>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-2"></div>
      <div class="col-lg-6">
        <p><span>6 - </span>Testar relês de estado sólido</p>
      </div>
      <div class="col-lg">
        <p style="width: 200px; display: table; margin-bottom: 0px; margin-top: 20px;">
          <span style="display: table-cell; border-bottom: 1px solid black;"></span>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-2"></div>
      <div class="col-lg-6">
        <p><span>7 - </span>Avaliar controladores de temperatura, ficha de processo</p>
      </div>
      <div class="col-lg">
        <p style="width: 200px; display: table; margin-bottom: 0px; margin-top: 20px;">
          <span style="display: table-cell; border-bottom: 1px solid black;"></span>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-2"></div>
      <div class="col-lg-6">
        <p><span>8 - </span>Avaliar sensores de temperatura termopar, funcionamento</p>
      </div>
      <div class="col-lg">
        <p style="width: 200px; display: table; margin-bottom: 0px; margin-top: 20px;">
          <span style="display: table-cell; border-bottom: 1px solid black;"></span>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-2"></div>
      <div class="col-lg-6">
        <p><span>9 - </span>Verificar atuadores, verificar funcionamento normal</p>
      </div>
      <div class="col-lg">
        <p style="width: 200px; display: table; margin-bottom: 0px; margin-top: 20px;">
          <span style="display: table-cell; border-bottom: 1px solid black;"></span>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-2"></div>
      <div class="col-lg-6">
        <p><span>10 - </span>Avaliar/ limpar secador de material</p>
      </div>
      <div class="col-lg">
        <p style="width: 200px; display: table; margin-bottom: 0px; margin-top: 20px;">
          <span style="display: table-cell; border-bottom: 1px solid black;"></span>
        </p>
      </div>
    </div>
    <hr class="mt-2">
    <div class="row">
      <div class="col-sm-1">
        <b>Atividades:</b>
      </div>
      <div class="col-sm-2">
        <b>Procedimento Padrão:</b>
      </div>
      <div class="col-lg-6">
        <b>CALHAS DE REFRIGERAÇÃO</b>
      </div>
      <div class="col-lg">
        <b>Conformidade:</b>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-sm-1"><b style="font-size: 35px; margin-left: 25%;">7</b></div>
      <div class="col-sm-2"><b style="font-size: 20px;">ELET. / MEC.</b></div>
      <div class="col-lg-6">
        <p><span>1 - </span>Verificar rolamentos do eixos e rolos</p>
      </div>
      <div class="col-lg">
        <p style="width: 200px; display: table; margin-bottom: 0px; margin-top: 20px;">
          <span style="display: table-cell; border-bottom: 1px solid black;"></span>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-2"><b>Tempo Previsto: 02:00</b></div>
      <div class="col-lg-6">
        <p><span>2 - </span>Verificar resistências dos banhos</p>
      </div>
      <div class="col-lg">
        <p style="width: 200px; display: table; margin-bottom: 0px; margin-top: 20px;">
          <span style="display: table-cell; border-bottom: 1px solid black;"></span>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-2"></div>
      <div class="col-lg-6">
        <p><span>3 - </span>Verificar / testar conjunto chiller</p>
      </div>
      <div class="col-lg">
        <p style="width: 200px; display: table; margin-bottom: 0px; margin-top: 20px;">
          <span style="display: table-cell; border-bottom: 1px solid black;"></span>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-2"></div>
      <div class="col-lg-6">
        <p><span>4 - </span>Verificar desgaste / trocar rolos de nylon de apoio dos cabos</p>
      </div>
      <div class="col-lg">
        <p style="width: 200px; display: table; margin-bottom: 0px; margin-top: 20px;">
          <span style="display: table-cell; border-bottom: 1px solid black;"></span>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-2"></div>
      <div class="col-lg-6">
        <p><span>5 - </span>Verificar compartimento de fixação de manda de feltros / borrachas</p>
      </div>
      <div class="col-lg">
        <p style="width: 200px; display: table; margin-bottom: 0px; margin-top: 20px;">
          <span style="display: table-cell; border-bottom: 1px solid black;"></span>
        </p>
      </div>
    </div>
    <hr class="mt-2">
    <div class="row">
      <div class="col-sm-1">
        <b>Atividades:</b>
      </div>
      <div class="col-sm-2">
        <b>Procedimento Padrão:</b>
      </div>
      <div class="col-lg-6">
        <b>CATERPILAR / CABESTRANTE</b>
      </div>
      <div class="col-lg">
        <b>Conformidade:</b>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-sm-1"><b style="font-size: 35px; margin-left: 25%;">8</b></div>
      <div class="col-sm-2"><b style="font-size: 20px;">ELET. / MEC.</b></div>
      <div class="col-lg-6">
        <p><span>1 - </span>Verificar tensão das correias</p>
      </div>
      <div class="col-lg">
        <p style="width: 200px; display: table; margin-bottom: 0px; margin-top: 20px;">
          <span style="display: table-cell; border-bottom: 1px solid black;"></span>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-2"><b>Tempo Previsto: 04:00</b></div>
      <div class="col-lg-6">
        <p><span>2 - </span>Avaliar desgaste das polias do dancer</p>
      </div>
      <div class="col-lg">
        <p style="width: 200px; display: table; margin-bottom: 0px; margin-top: 20px;">
          <span style="display: table-cell; border-bottom: 1px solid black;"></span>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-2"></div>
      <div class="col-lg-6">
        <p><span>3 - </span>Verificar motor redutor / kit reparos retentor da junta de vedação</p>
      </div>
      <div class="col-lg">
        <p style="width: 200px; display: table; margin-bottom: 0px; margin-top: 20px;">
          <span style="display: table-cell; border-bottom: 1px solid black;"></span>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-2"></div>
      <div class="col-lg-6">
        <p><span>4 - </span>Verificar/ avaliar cilindro das polias movidas</p>
      </div>
      <div class="col-lg">
        <p style="width: 200px; display: table; margin-bottom: 0px; margin-top: 20px;">
          <span style="display: table-cell; border-bottom: 1px solid black;"></span>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-2"></div>
      <div class="col-lg-6">
        <p><span>5 - </span>Verificar/ avaliar válvulas e conexões pneumáticas</p>
      </div>
      <div class="col-lg">
        <p style="width: 200px; display: table; margin-bottom: 0px; margin-top: 20px;">
          <span style="display: table-cell; border-bottom: 1px solid black;"></span>
        </p>
      </div>
    </div>
    <hr class="mt-2">
    <div class="row">
      <div class="col-sm-1">
        <b>Atividades:</b>
      </div>
      <div class="col-sm-2">
        <b>Procedimento Padrão:</b>
      </div>
      <div class="col-lg-6">
        <b>CATERPILAR / CABESTRANTE</b>
      </div>
      <div class="col-lg">
        <b>Conformidade:</b>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-sm-1"><b style="font-size: 35px; margin-left: 25%;">9</b></div>
      <div class="col-sm-2"><b style="font-size: 20px;">ELET. / MEC.</b></div>
      <div class="col-lg-6">
        <p><span>1 - </span>Limpeza interna e externa do conjunto</p>
      </div>
      <div class="col-lg">
        <p style="width: 200px; display: table; margin-bottom: 0px; margin-top: 20px;">
          <span style="display: table-cell; border-bottom: 1px solid black;"></span>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-2"><b>Tempo Previsto: 00:30</b></div>
      <div class="col-lg-6">
        <p><span>2 - </span>Avaliar condições dos cabos e terminais</p>
      </div>
      <div class="col-lg">
        <p style="width: 200px; display: table; margin-bottom: 0px; margin-top: 20px;">
          <span style="display: table-cell; border-bottom: 1px solid black;"></span>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-2"></div>
      <div class="col-lg-6">
        <p><span>3 - </span>Teste de funcionamento</p>
      </div>
      <div class="col-lg">
        <p style="width: 200px; display: table; margin-bottom: 0px; margin-top: 20px;">
          <span style="display: table-cell; border-bottom: 1px solid black;"></span>
        </p>
      </div>
    </div>
    <hr class="mt-2">
    <div class="row">
      <div class="col-sm-1">
        <b>Atividades:</b>
      </div>
      <div class="col-sm-2">
        <b>Procedimento Padrão:</b>
      </div>
      <div class="col-lg-6">
        <b>BRAÇO OSCILADOR DE VELOCIDADE</b>
      </div>
      <div class="col-lg">
        <b>Conformidade:</b>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-sm-1"><b style="font-size: 35px; margin-left: 25%;">10</b></div>
      <div class="col-sm-2"><b style="font-size: 20px;">ELET. / MEC.</b></div>
      <div class="col-lg-6">
        <p><span>1 - </span>Avaliar desgastes das polias </p>
      </div>
      <div class="col-lg">
        <p style="width: 200px; display: table; margin-bottom: 0px; margin-top: 20px;">
          <span style="display: table-cell; border-bottom: 1px solid black;"></span>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-2"><b>Tempo Previsto: 00:30</b></div>
      <div class="col-lg-6">
        <p><span>2 - </span>Verificar rolamentos das polias</p>
      </div>
      <div class="col-lg">
        <p style="width: 200px; display: table; margin-bottom: 0px; margin-top: 20px;">
          <span style="display: table-cell; border-bottom: 1px solid black;"></span>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-2"></div>
      <div class="col-lg-6">
        <p><span>3 - </span>Verificar conjunto elétrico, sensores e cabos</p>
      </div>
      <div class="col-lg">
        <p style="width: 200px; display: table; margin-bottom: 0px; margin-top: 20px;">
          <span style="display: table-cell; border-bottom: 1px solid black;"></span>
        </p>
      </div>
    </div>
    <hr class="mt-2">
    <div class="row">
      <div class="col-sm-1">
        <b>Atividades:</b>
      </div>
      <div class="col-sm-2">
        <b>Procedimento Padrão:</b>
      </div>
      <div class="col-lg-6">
        <b>BOBINADOR DUPLO</b>
      </div>
      <div class="col-lg">
        <b>Conformidade:</b>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-sm-1"><b style="font-size: 35px; margin-left: 25%;">11</b></div>
      <div class="col-sm-2"><b style="font-size: 20px;">ELET. / MEC.</b></div>
      <div class="col-lg-6">
        <p><span>1 - </span>Avaliar sensores, terminais e cabos elétricos</p>
      </div>
      <div class="col-lg">
        <p style="width: 200px; display: table; margin-bottom: 0px; margin-top: 20px;">
          <span style="display: table-cell; border-bottom: 1px solid black;"></span>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-2"><b>Tempo Previsto: 04:00</b></div>
      <div class="col-lg-6">
        <p><span>2 - </span>Avaliar / testar conjuntos rolamentados</p>
      </div>
      <div class="col-lg">
        <p style="width: 200px; display: table; margin-bottom: 0px; margin-top: 20px;">
          <span style="display: table-cell; border-bottom: 1px solid black;"></span>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-2"></div>
      <div class="col-lg-6">
        <p><span>3 - </span>Verificar guia do conjunto do espalhador, correias, sensores e polias</p>
      </div>
      <div class="col-lg">
        <p style="width: 200px; display: table; margin-bottom: 0px; margin-top: 20px;">
          <span style="display: table-cell; border-bottom: 1px solid black;"></span>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-2"></div>
      <div class="col-lg-6">
        <p><span>4 - </span>Verificar / testar bobinadores A e B, motores, lubrificação e correias</p>
      </div>
      <div class="col-lg">
        <p style="width: 200px; display: table; margin-bottom: 0px; margin-top: 20px;">
          <span style="display: table-cell; border-bottom: 1px solid black;"></span>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-2"></div>
      <div class="col-lg-6">
        <p><span>5 - </span>Verificar conjunto pneumático, mangueiras, conexões e lubrificação</p>
      </div>
      <div class="col-lg">
        <p style="width: 200px; display: table; margin-bottom: 0px; margin-top: 20px;">
          <span style="display: table-cell; border-bottom: 1px solid black;"></span>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-2"></div>
      <div class="col-lg-6">
        <p><span>6 - </span>Verificar/ lubrificar guias lineares</p>
      </div>
      <div class="col-lg">
        <p style="width: 200px; display: table; margin-bottom: 0px; margin-top: 20px;">
          <span style="display: table-cell; border-bottom: 1px solid black;"></span>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-2"></div>
      <div class="col-lg-6">
        <p><span>7 - </span>Verificar/ testar lonas de freio</p>
      </div>
      <div class="col-lg">
        <p style="width: 200px; display: table; margin-bottom: 0px; margin-top: 20px;">
          <span style="display: table-cell; border-bottom: 1px solid black;"></span>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-2"></div>
      <div class="col-lg-6">
        <p><span>8 - </span>Verificar/ testar pino trava</p>
      </div>
      <div class="col-lg">
        <p style="width: 200px; display: table; margin-bottom: 0px; margin-top: 20px;">
          <span style="display: table-cell; border-bottom: 1px solid black;"></span>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-2"></div>
      <div class="col-lg-6">
        <p><span>9 - </span>Feito mapeamento de peças comerciais e peças usinadas</p>
      </div>
      <div class="col-lg">
        <p style="width: 200px; display: table; margin-bottom: 0px; margin-top: 20px;">
          <span style="display: table-cell; border-bottom: 1px solid black;"></span>
        </p>
      </div>
    </div>
    <hr class="mt-2">
    <div class="row">
      <div class="col-sm-1">
        <b>Atividades:</b>
      </div>
      <div class="col-sm-2">
        <b>Procedimento Padrão:</b>
      </div>
      <div class="col-lg-6">
        <b>PROCEDIMENTO DE CONTROLE DE TESTE E FUNCIONAL DO EQUIPAMENTO</b>
      </div>
      <div class="col-lg">
        <b>Conformidade:</b>
      </div>
    </div>
    <div class="avoid">
      <div class="row mt-3">
        <div class="col-sm-1"><b style="font-size: 35px; margin-left: 25%;">12</b></div>
        <div class="col-sm-2"><b style="font-size: 20px;">ELET. / MEC.</b></div>
        <div class="col-lg-6">
          <p><span>1 - </span>TESTAR FUNCIONAMENTO DO EQUIPAMENTO APÓS MANUTENÇÃO.</p>
        </div>
        <div class="col-lg">
          <p style="width: 200px; display: table; margin-bottom: 0px; margin-top: 20px;">
            <span style="display: table-cell; border-bottom: 1px solid black;"></span>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-2"><b>CONT 001</b></div>
        <div class="col-lg-6">
          <p><span>2 - </span>RETIRAR PLACA DE IDENTIFICAÇÃO   " EQUIPAMENTO EM MANUTENÇÃO"</p>
        </div>
        <div class="col-lg">
          <p style="width: 200px; display: table; margin-bottom: 0px; margin-top: 20px;">
            <span style="display: table-cell; border-bottom: 1px solid black;"></span>
          </p>
        </div>
      </div>
    </div>
    <hr class="mt-2">
    <div class="row">
      <div class="col-lg-12">
        <h3>Comentários:</h3>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-lg-12">
        <p style="width: 100%; display: table; margin-bottom: 0px; margin-top: 20px;">
          <span style="display: table-cell; border-bottom: 1px solid black;"></span>
        </p>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-lg-12">
        <p style="width: 100%; display: table; margin-bottom: 0px; margin-top: 20px;">
          <span style="display: table-cell; border-bottom: 1px solid black;"></span>
        </p>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-lg-12">
        <p style="width: 100%; display: table; margin-bottom: 0px; margin-top: 20px;">
          <span style="display: table-cell; border-bottom: 1px solid black;"></span>
        </p>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-lg-12">
        <p style="width: 100%; display: table; margin-bottom: 0px; margin-top: 20px;">
          <span style="display: table-cell; border-bottom: 1px solid black;"></span>
        </p>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-lg-12">
        <p style="width: 100%; display: table; margin-bottom: 0px; margin-top: 20px;">
          <span style="display: table-cell; border-bottom: 1px solid black;"></span>
        </p>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-lg-12">
        <p style="width: 100%; display: table; margin-bottom: 0px; margin-top: 20px;">
          <span style="display: table-cell; border-bottom: 1px solid black;"></span>
        </p>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-lg-12">
        <p style="width: 100%; display: table; margin-bottom: 0px; margin-top: 20px;">
          <span style="display: table-cell; border-bottom: 1px solid black;"></span>
        </p>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-lg-12">
        <p style="width: 100%; display: table; margin-bottom: 0px; margin-top: 20px;">
          <span style="display: table-cell; border-bottom: 1px solid black;"></span>
        </p>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-lg-12">
        <p style="width: 100%; display: table; margin-bottom: 0px; margin-top: 20px;">
          <span style="display: table-cell; border-bottom: 1px solid black;"></span>
        </p>
      </div>
    </div>
    <hr class="mt-2">
    <div class="row">
      <div class="col-sm-2">
        <h3>Satisfação:</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2 mt-2">
        <p><span><input type="checkbox" name="" id=""></span> Sem Classificação</p>
      </div>
      <div class="col-sm-2 mt-2">
        <p><span><input type="checkbox" name="" id=""></span> Ótimo</p>
      </div>
      <div class="col-sm-2 mt-2">
        <p><span><input type="checkbox" name="" id=""></span> Bom</p>
      </div>
      <div class="col-sm-2 mt-2">
        <p><span><input type="checkbox" name="" id=""></span> Regular</p>
      </div>
      <div class="col-sm-2 mt-2">
        <p><span><input type="checkbox" name="" id=""></span> Ruim</p>
      </div>
      <div class="col-sm-2 mt-2">
        <p><span><input type="checkbox" name="" id=""></span> Rejeitado</p>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-4" style="margin-top: 35px;">
        <p style="width: 200px; display: table; margin-bottom: 0;">
            <span style="display: table-cell; border-bottom: 1px solid black;"></span>
        </p>
        <span style="display: table-cell;">Responsavel Manutenção</span>
      </div>
      <div class="col-md-4" style="margin-top: 35px;">
        <p style="width: 200px; display: table; margin-bottom: 0;">
            <span style="display: table-cell; border-bottom: 1px solid black;"></span>
        </p>
        <span style="display: table-cell;">Responsavel Produção</span>
      </div>
      <div class="col-md-4" style="margin-top: 35px;">
        <p style="width: 200px; display: table; margin-bottom: 0;">
            <span style="display: table-cell; border-bottom: 1px solid black;"></span>
        </p>
        <span style="display: table-cell;">Supervisor Manutenção</span>
      </div>
    </div>
  </div>

  <style type="text/css">
    .avoid {
      page-break-inside: avoid !important;
      margin: 4px 0 4px 0;  /* to keep the page break from cutting too close to the text in the div */
    }
  </style>


<%- include('../partials/footer') %>
